html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;

  /* colors */
  --color-1-90: #fff4e6;
  --color-1-95: #fce0bb;
  --color-1-100: #e67e22;
  --color-1-200: #c36512;
  --color-1-300: #462e17;

  --color-2-100: white;

  --color-3-100: #ffd43b;

  --color-grey-100: #343a40;
  --color-grey-150: #5e666f;
  --color-grey-200: #ced4da;
  --color-grey-300: #ebeef0;

  /* fonts sizes: 10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98 */
  font-family: "Inter", sans-serif;
  color: var(--color-grey-100);

  --fs-90: 1.2rem;
  --fs-93: 1.4rem;
  --fs-95: 1.6rem;
  --fs-100: 1.8rem;
  --fs-200: 2rem;
  --fs-300: 2.4rem;
  --fs-500: 3rem;
  --fs-550: 3.6rem;
  --fs-600: 4.4rem;
  --fs-700: 5.2rem;
  --fs-750: 6.2rem;
  --fs-800: 8.6rem;
  --fs-900: 9.8rem;

  /* font weights */
  --fw-100: 400;
  --fw-200: 500;
  --fw-300: 600;
  --fw-400: 700;
  --fw-500: 800;

  /* line heights */
  --lh-100: 1;
  --lh-200: 1.05;
  --lh-300: 1.2;
  --lh-350: 1.6;
  --lh-400: 1.8;
}

* {
  box-sizing: border-box;
}

*:focus {
  outline: none; /* this is the blue border that shows when you focus on a element, like pressing on <intput> element */
  box-shadow: 0 0 0 0.8rem rgba(230, 125, 34, 0.5);
}

ul {
  list-style: none;
}

p {
  line-height: var(--lh-350);
}

p,
h1,
h2,
h3,
h4,
li,
ul {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  display: inline-block;
}

.heading-primary {
  font-size: var(--fs-700);
  line-height: var(--lh-200);
  margin-bottom: 3.2rem;
}

.heading-secondary {
  font-size: var(--fs-600);
  line-height: var(--lh-300);
  margin-bottom: 9.6rem;
}

.heading-tertiary {
  font-size: var(--fs-500);
  line-height: var(--lh-300);
  margin-bottom: 3.2rem;
}

.subheading {
  text-transform: uppercase;
  color: var(--color-1-100);
  font-weight: var(--fw-300);
  font-size: var(--fs-100);
  margin-bottom: 1.6rem;
}

.container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.grid {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;
  margin-bottom: 4.8rem;
}

.center-text {
  text-align: center;
}

.margin-right-100 {
  margin-right: 1.6rem;
}

.margin-top-100 {
  margin-top: 4.8rem;
}

.link:link,
.link:visited {
  font-size: var(--fs-100);
  color: var(--color-1-100);
  cursor: pointer;
  text-decoration: none;
  border-bottom: 0.2rem solid currentColor;
  padding-bottom: 0.1rem;
  transition: border-bottom 1s;
}

.link:hover,
.link:active {
  color: var(--color-1-200);
  border-bottom: 0.2rem solid transparent;
}

.btn-cta,
.btn:link,
.btn:visited {
  border-radius: 0.8rem;
  display: inline-block;
  text-decoration: none;
  font-size: var(--fs-200);
  font-weight: var(--fw-300);
  transition: all 1s;
}

/* two dashes basically this class will be used along with a base class like btn. to make the btn specific more */
.btn-primary:link,
.btn-primary:visited {
  background-color: var(--color-1-100);
  color: var(--color-2-100);
}

.btn-outline:link,
.btn-outline:visited {
  background-color: var(--color-2-100);
  color: var(--color-grey-100);
}

.btn-primary:hover,
.btn-primary:active {
  background-color: var(--color-1-200);
}

.btn-outline:hover,
.btn-outline:active {
  background-color: var(--color-1-90);
  /* a trick to create border inside the button itself : using the inset keyword with box-shadow property */
  box-shadow: 0px 0px 0px 3px var(--color-2-100) inset;
}

.btn-padding-100 {
  padding: 1rem 2rem;
}

.btn-padding-200 {
  padding: 1.6rem 3.2rem;
}

/* header section */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-1-90);
  height: 9.6rem;
  padding: 0 4.8rem;
  font-size: var(--fs-100);
}

.logo {
  width: 16rem;
}

.header-nav {
  display: flex;
  align-items: center;
  gap: 4.8rem;
}

.header-nav > a {
  text-decoration: none;
  font-weight: var(--fw-300);
}

.header-nav-links {
  color: var(--color-grey-100);
}

/* hero section */
.hero-section {
  background-color: var(--color-1-90);
  padding: 4.8rem 0 9.6rem 0;
}

.hero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  gap: 9.6rem;
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

.hero-content {
}

.hero-content-links > a {
  cursor: pointer;
}

.arrow-down-svg {
  width: 2.5rem !important;
  height: 2.5rem !important;
}

.hero-content-text {
  font-size: var(--fs-200);
  line-height: var(--lh-350);
  margin-bottom: 4.8rem;
}

.hero-content-links {
  font-size: var(--fs-200);
  font-weight: var(--fw-300);
}

.delivered-meals {
  font-size: var(--fs-100);
  font-weight: var(--fw-300);
  margin-top: 8rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.delivered-meals-fact {
  color: var(--color-grey-100);
}

.delivered-meals-number {
  color: var(--color-1-100);
  display: inline-block;
}

.delivered-meals-customers-images {
  display: flex;
  justify-content: center;
  gap: -1rem;
}

.delivered-meals-customers-images > img {
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 3rem;
  margin-right: -1.5rem;
}

.delivered-meals-customers-images > img:last-child {
  margin-right: 1.5rem;
}

/* Featured section */
.featured-section {
  padding: 4.8rem 0 3.2rem 0;
}

.featured-header {
  color: #868e96;
  text-transform: uppercase;
  font-size: var(--fs-100);
  font-weight: var(--fw-300);
  margin-bottom: 2rem;
  text-align: center;
}

.featured-images {
  display: flex;
  justify-content: space-around;
}

.featured-img {
  height: 3.2rem;
  filter: brightness(0%);
  opacity: 60%;
}

/* how it works section */
.how-section {
  padding: 9.6rem 0;
}

.step-number {
  font-size: var(--fs-800);
  color: var(--color-grey-200);
}

.step-description {
  margin-top: 3.5rem;
  line-height: var(--lh-400);
  font-size: var(--fs-100);
}

.how-steps {
  grid-template-columns: 1fr 1fr;
}

.how-image {
  max-width: 19rem;
}

.how-image-box {
  justify-self: center;
  align-self: center;
  position: relative;
}

.how-image-box::before {
  position: absolute;
  display: block;
  content: "";
  width: 60%;
  /* height: 60%; and width: 60% won't show anything! you need to specify padding to work around that */
  padding: 85% 60%;
  background-color: var(--color-1-90);
  z-index: -2;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.how-image-box::after {
  position: absolute;
  display: block;
  content: "";
  width: 60%;
  /* height: 60%; and width: 60% won't show anything! you need to specify padding to work around that */
  padding: 75% 40%;
  background-color: var(--color-1-95);
  z-index: -1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.svg {
  max-width: 3rem;
  stroke: var(--color-1-100);
  fill: var(--color-1-100);
}

.meals-section-content {
  grid-template-columns: repeat(3, 1fr);
}

.meals-section-diets-list {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.meals-section-diets-list-item {
  display: flex;
  align-items: center;
  gap: 1.3rem;
}

.meals-section-diets-list-item-name {
  font-size: var(--fs-100);
  text-transform: uppercase;
}

.meals-section-diets-subheading {
  font-size: var(--fs-500);
}

.meal-card {
  border-radius: 2rem;
  overflow: hidden;
  box-shadow: -2px 2rem 4.8rem var(--color-grey-300);
  transition: all 0.5s;
}

.meal-card:hover {
  transform: translate(0, -2rem);
}

.meal-card-content {
  background-color: white;
  padding: 3.2rem 4.8rem 4.8rem 4.8rem;
}

.tag-component {
  padding: 0.3rem 0.6rem;
  border-radius: 2rem;
  display: inline-block;
  font-size: var(--fs-90);
  font-weight: var(--fw-300);
}

.meal-card-diets-list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.meal-title {
  font-size: var(--fs-300);
  margin-top: 1rem;
}

.fs-100 {
  font-size: var(--fs-100);
}

.fw-300 {
  font-weight: var(--fw-300);
}

.meal-feature-list-item {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.meal-features-list {
  margin-left: 1rem;
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.meals-section {
  margin-bottom: 10rem;
}

.all-recipes {
  font-size: var(--fs-100);
}

.testimonials-section {
  display: grid;
  grid-template-columns: 55fr 45fr; /* looks like percentages if you do it this way ! */
  align-items: center;
  background-color: var(--color-1-90);
  margin-bottom: 9.6rem;
}

.testimonial-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1.7rem;
}

.testimonial-person-image {
  max-width: 6.4rem;
  border-radius: 3rem;
}

.testimonial-text {
  font-size: var(--fs-100);
  line-height: var(--lh-400);
  margin: 0;
}

.testimonial-person-name {
  color: var(--color-grey-150);
  font-size: var(--fs-95);
}

.testimonials-container {
  padding: 9.6rem;
}

.testimonials-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 4.8rem;
  column-gap: 8rem;
}

.gallery-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
  padding: 1.4rem;
  align-items: start;
}

.gallery-figure {
  margin: 0;
  overflow: hidden;
}

.gallery-figure img {
  display: block;
  transition: all 0.7s;
}

.gallery-figure img:hover {
  transform: scale(1.2);
}

/* Pricing Section */
.pricing-plans {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: end;
  column-gap: 6.4rem;
  row-gap: 9.6rem;
}

.pricing-section {
  margin-bottom: 14.4rem;
}

.pricing-card {
  padding: 4.6rem;
  border-radius: 1.5rem;
  border-color: var(--color-1-90);
  border-width: 0.3rem;
  border-style: solid;
  text-align: center;
  max-width: 44rem;
}

.pricing-card--featured {
  justify-self: start;
  background-color: var(--color-1-90);
  position: relative;
  overflow: hidden;
}

.pricing-card--featured::after {
  content: "BEST VALUE";
  position: absolute;
  top: 5%;
  right: -20%;
  background-color: var(--color-3-100);
  padding: 0.6rem 8rem;
  font-weight: var(--fw-400);
  font-size: var(--fs-90);
  transform: rotate(45deg);
}

.pricing-card-header {
  margin-bottom: 4.8rem;
}

.pricing-card-title {
  font-size: var(--fs-200);
  color: var(--color-1-200);
  text-transform: uppercase;
  margin-bottom: 4.8rem;
}

.pricing-card-price {
  font-size: var(--fs-750);
  font-weight: var(--fw-300);
  margin-bottom: 1.6rem;
}

.pricing-card-price span {
  font-size: var(--fs-500);
  margin-right: 0.8rem;
}

.pricing-card-desc {
  font-size: var(--fs-95);
  color: var(--color-grey-150);
}

.pricing-card-features-container {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}

.pricing-card-features-container li {
  display: flex;
  align-items: center;
  text-align: start;
  gap: 1.6rem;
  font-size: var(--fs-100);
}

.pricing-section aside {
  margin-top: 4.6rem;
  margin-bottom: 9.6rem;
  text-align: center;
  font-size: var(--fs-95);
}

.plans-shared-features-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
}

.feature {
  max-width: 24rem;
  justify-self: center;
}

.feature h3 {
  font-size: var(--fs-300);
  font-weight: var(--fw-500);
  margin-top: 3.2rem;
  margin-bottom: 1.6rem;
  line-height: var(--lh-100);
}

.feature p {
  font-size: var(--fs-100);
  line-height: var(--lh-400);
}

.pricing-feature-svg {
  background-color: var(--color-1-90);
  color: var(--color-1-100);
  stroke: currentColor;
  fill: currentColor;
  padding: 1rem;
  border-radius: 50rem;
}

/* CTA */

.cta-section {
  margin-bottom: 12rem;
  color: var(--color-1-300);
}

.cta-section *:focus {
  outline: none; /* this is the blue border that shows when you focus on a element, like pressing on <intput> element */
  box-shadow: 0 0 0 0.8rem rgba(238, 211, 187, 0.5);
}

.cta {
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-image: linear-gradient(to right bottom, #eb984e, #e67e22);
  border-radius: 1.2rem;
  overflow: hidden;
}

.cta-content {
  padding: 4.8rem 6.4rem;
}

.cta-content-header {
  font-size: var(--fs-700);
  line-height: var(--lh-100);
  margin-bottom: 3.2rem;
}

.cta-content-text {
  font-size: var(--fs-100);
  line-height: var(--lh-400);
  margin-bottom: 4.8rem;
}

.cta-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3.2rem;
  row-gap: 2.4rem;
}

.cta-form-label {
  font-size: var(--fs-95);
  line-height: var(--lh-300);
  font-weight: var(--fw-400);
  margin-bottom: 1.2rem;
  display: block;
}

.cta-figure {
  margin: 0;
  background-image: linear-gradient(
      to right bottom,
      rgba(235, 151, 78, 0.35),
      rgba(230, 125, 34, 0.35)
    ),
    url(../public/img/eating.jpg);
  background-size: cover;
  background-position: top;
}

/* remember that :link, :visited, :active do not work with elements that do not have href attribute */
.btn-cta-form {
  color: #fdf2e9;
  background-color: #45260a;
  transition: all 0.3s;
  align-self: end;
  text-align: center;
  padding: 1.2rem;
  border: none;
}

.btn-cta:hover {
  background-color: var(--color-1-90);
  color: var(--color-1-300);
  cursor: pointer;
}

.cta-form input,
.cta-form select {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;
  color: inherit;
  border: none;
  background-color: #fdf2e9;
  border-radius: 9px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

/* Footer section */
.footer-section {
  padding: 13rem 0;
  border-top: 1px solid #eee;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 6.4rem;
  row-gap: 9.6rem;
}

.footer-nav-list {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.footer-item-heading {
  margin-bottom: 4rem;
}

.footer-item-heading p {
  font-size: var(--fs-100);
  font-weight: var(--fw-300);
}

.footer-section a {
  font-size: var(--fs-95);
  color: var(--color-grey-150);
  cursor: pointer;
  text-decoration: none;
}

.footer-section a:hover {
  color: #353535;
}

.footer-social {
  display: flex;
  gap: 2rem;
}

.svg-footer-social {
  filter: opacity(80%);
}

.svg-footer-social:hover {
  filter: opacity(100%);
  cursor: pointer;
}

.footer-copyright {
  margin-top: auto;
  font-size: var(--fs-93);
  line-height: var(--lh-300);
}

.logo-col {
  display: flex;
  flex-direction: column;
}

.address {
  margin-bottom: 2.4rem;
  font-size: var(--fs-95);
}
