/* in the first line of media quey @media (max-width: ), 
rem and em do NOT depend on html font-size in media queries! Instead, 1rem = 1em = 16px 
but inside the curley brackets '{}' => it ema nd rem works as before, 1 rem = 10px (because of 62.5% trick)
*/

/**************************/
/* BELOW 1360px (Smaller desktops) */
/**************************/

@media (max-width: 85em) {
  .hero {
    max-width: 120rem;
  }

  .heading-primary {
    font-size: 4.4rem;
  }

  .gallery-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/**************************/
/* BELOW 1200px (Landscape tablets) */
/**************************/
@media (max-width: 75em) {
  html {
    font-size: 56.25%; /* decreased from 16px to 9px. */
  }

  /*referencing rem here means 10px and not 9px ! */
  .heading-secondary {
    font-size: 3.6rem;
  }

  .heading-tertiary {
    font-size: 2.4rem;
  }

  .grid {
    column-gap: 4.8rem;
    row-gap: 6.4rem;
  }

  .header {
    padding: 0 3.2rem;
  }

  .header-nav {
    gap: 3.2rem;
  }

  .hero {
    gap: 4.8rem;
  }

  .testimonials-container {
    padding: 3.2rem;
  }

  /**************************/
  /* BELOW 944px (tablets) */
  /**************************/
  @media (max-width: 59em) {
    html {
      font-size: 50%; /* decreased from 16px to 8px. */
    }

    .hero {
      grid-template-columns: 1fr;
      padding: 0 8rem;
      gap: 8rem;
    }

    .hero-image {
      max-width: 70%;
    }

    .hero-content {
      text-align: center;
    }

    .delivered-meals {
      margin-top: 4.8rem;
      justify-content: center;
    }

    .featured-img {
      height: 2.3rem;
    }

    .step-number {
      font-size: var(--fs-750);
    }

    .meal-card-content {
      padding: 1.6rem 2.4rem 2.4rem 2.4rem;
    }

    .testimonials-section {
      grid-template-columns: 1fr;
    }

    .gallery-container {
      grid-template-columns: repeat(6, 1fr);
    }

    .cta {
      grid-template-columns: 60fr 40fr;
    }

    .cta-content {
      padding: 3.2rem 4.8rem;
    }

    .cta-form {
      grid-template-columns: 1fr;
    }

    .btn-cta-form {
      margin-top: 1.6rem;
    }

    .mobile-btn-nav {
      display: block;
      z-index: 2;
    }

    .header-nav {
      opacity: 0;
      pointer-events: none;
      visibility: hidden;
      /* 
      I used opacity instead of display 
      because transition doesn't work on display: none 
      */
      transform: translateX(100%);
      transition: all 0.5s;
      z-index: 1;
      display: block;
      position: absolute;
      background-color: var(--color-1-90);
      height: 100vh;
      width: 100%;
      top: 0;
      left: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-size: var(--fs-700);
      gap: 4.8rem;
    }

    .header-nav-open {
      opacity: 1;
      pointer-events: auto;
      visibility: visible;
      transform: translateX(0);
    }

    .header-nav-open .btn-primary {
      font-size: var(--fs-700);
    }
  }

  /**************************/
  /* BELOW 700px (smaller tablets) */
  /**************************/
  @media (max-width: 44em) {
    .meals-section-content {
      grid-template-columns: repeat(2, 1fr);
    }

    .diets {
      justify-self: center;
      grid-column: span 2;
    }

    .heading-secondary {
      margin-bottom: 4.8rem;
    }

    .footer-container {
      grid-template-columns: repeat(6, 1fr);
    }

    .account-col,
    .company-col,
    .resources-col {
      grid-row: 1;
      grid-column: span 2;
    }

    .logo-col,
    .contact-col {
      grid-row: 2;
      grid-column: span 3;
    }

    .featured-img {
      height: 1.8rem;
    }
  }

  /**************************/
  /* BELOW 570px (phones) */
  /**************************/
  @media (max-width: 35.625em) {
    .pricing-plans {
      grid-template-columns: 1fr;
    }

    .plans-shared-features-container {
      grid-template-columns: 1fr;
    }

    .cta {
      grid-template-columns: 1fr;
    }

    .cta-figure {
      grid-row: 1;
      height: 35rem;
      background-position: center;
    }

    .cta-content {
      grid-row: 2;
    }

    .hero-content-links .btn-outline {
      margin-top: 2rem;
    }

    .delivered-meals {
      flex-direction: column;
      gap: 1rem;
    }

    .hero-image {
      max-width: 85%;
    }

    .featured-img {
      height: 1.2rem;
    }

    .testimonials-list {
      grid-template-columns: 1fr;
    }

    .meals-section-content {
      grid-template-columns: 1fr;
    }

    .diets {
      grid-column: initial;
    }

    .how-image {
      max-width: 16rem;
    }

    .how-steps {
      grid-template-columns: 1fr;
    }

    .how-image-box:nth-child(2) {
      grid-row: 1;
    }

    .how-image-box:last-child {
      grid-row: 5;
    }

    .how-image-box {
      transform: translateY(9.8rem);
    }

    .gallery-container {
      grid-template-columns: repeat(4, 1fr);
    }

    .btn-padding-200 {
      padding: 1.2rem 1.6rem;
    }

    .footer-container {
      column-gap: 3.2rem;
      row-gap: 4.8rem;
    }
  }
}
